<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flappy Bird</title>
    <link rel="icon" href="../../assets/images/bird1.png">
    <link rel="stylesheet" href="FlappyBird/src/view/style.css">
</head>
<body>

<canvas id="canvas" width="500" height="900"></canvas>

<script src="../FlappyBird/src/model/model.js"></script>
<script src="../FlappyBird/src/view/view.js"></script>
<script src="../FlappyBird/src/controller/controller.js"></script>
<script src="../FlappyBird/src/app/index.js"></script>
</body>
</html>